*{
    margin: 0;
    padding: 0;

}

#outer{
    height: 220px;
    border: 1px solid #000;
    display: flex;
    /* gap: 50px; */
    justify-content: space-evenly;
    align-items: center;
}

.d
{
    width: 50px;
    height: 100px;
    border: 2px solid #000;
    background-color: red;
    color: yellow;
    font-size: xx-small;
    font-weight: 900;
    /* display: inline-block;
    margin-right: 100px; */
}

.a{
    width: 100px;
    height: 100px;
    border: 1x solid black;
    font-size: xx-large;
    font-weight: 800;
}

#b{
    width: 50px;
    height: 50px;
    border: #000;
    background-color: white;
    font-size: xx-small;
    font-weight: 500;
}

.clickbtn
{
    background-color: #c0f7c3;
    /* border:  1px solid color #01ff0d; */
    border-color: #01ff0d;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    box-shadow: 2px 2px 1px 1px rgb(93, 99, 6) ;
}

.gd
{
    width: 100px;
    height: 150px;
    border: 1px solid #000;
    background-color: red;
    color: yellow;
    font-size: xx-large;
    font-weight: 300;
    display: grid;
}

#grid-outer{
    padding: 100px;
    border: 1px solid black;
    display: grid;
    grid-template-columns: auto auto auto auto;
    /* 200px 200px 200px 200px */
    justify-content: center;
    row-gap: 50px;
    column-gap: 50px;
   
}